modelos/layoutlmv3-finetuned-facturas/checkpoint-330/*.safetensors filter=lfs diff=lfs merge=lfs -text
modelos/layoutlmv3-finetuned-facturas/checkpoint-330/*.pt filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
